@import '../../../styles/global.scss';
* {
  box-sizing: border-box;
  margin: 0;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #191970;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
  text-align: center;
  overflow: hidden;
  z-index: 10;
  margin: auto 0;
  left:0;
  top:0;

  & h1 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
  }
}

