<footer>
  <div class="container">
      <p>Public project using <a href="https://ergast.com/mrd/">Ergast Developer API</a></p>
      <p>Project built using Angular 10 by <a href="https://twitter.com/Amrayoub10">Amr Ayoub</a></p>
  </div>
</footer>
