.container{
  position: relative;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
}

footer {
  background: #191970;
  width: 100vw;
  height: 10vh;
  box-shadow: 0 1px 3px 1px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  padding: 5px;


  p {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  }

}
