<mat-toolbar color="primary" *ngIf="seasonYear">
    <h1>Formula 1 {{seasonYear}} Winners</h1>
    <span class="fill-remaining-space"></span>
    <img src="assets/images/finish-line.svg" alt="finish line image" class="svg-48">
  </mat-toolbar>
<a
  mat-stroked-button
  color="accent"
  class="padding-10"
  href="seasons">
  <mat-icon class="md-14">keyboard_return</mat-icon>Back to Seasons
</a>

<mat-accordion>
  <mat-expansion-panel *ngFor="let winner of winners; index as i"
    [expanded]="step === i"
    (opened)="setStep(i)"
    hideToggle="false"
    class="{{winner.Results[0]?.Driver.driverId === seasons[0]?.DriverStandings[0]?.Driver?.driverId? 'highlight' : ''}}">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Round {{winner.round}} - {{winner.Results[0]?.Driver.givenName}}&nbsp;&nbsp;<img src="../../../assets/images/cup.svg" alt="trophy image" class="svg-18" *ngIf="winner.Results[0].Driver.driverId === seasons[0].DriverStandings[0]?.Driver?.driverId">
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-grid-list cols="{{cols}}" rowHeight="{{rowHeight}}" (window:resize)="onResize($event)">
      <mat-grid-tile colspan="{{mainColSpan}}" rowspan="{{mainRowSpan}}">
        <mat-list>
          <mat-list-item>
            <p>
              <b>Full Name:</b>&nbsp;<a href="{{winner.Results[0].Driver.url}}" target="_blank">{{winner.Results[0].Driver.givenName}} {{winner.Results[0].Driver.familyName}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Nationality:</b> {{winner.Results[0].Driver.nationality}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Race:</b>&nbsp;<a href="{{winner.url}}" target="_blank">{{winner.raceName}}</a> - <a href="{{winner.Circuit.url}}" target="_blank">{{winner.Circuit.circuitName}}</a><mat-icon class="md-14 md-dark">open_in_new</mat-icon>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Laps:</b> {{winner.Results[0].laps}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Time:</b> {{winner.time}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Car:</b>&nbsp;<a href="{{winner.Results[0].Constructor.url}}" target="_blank">{{winner.Results[0].Constructor.name}}<mat-icon class="md-14 md-dark">open_in_new</mat-icon></a>
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Average Speed:</b> {{winner.Results[0].FastestLap.AverageSpeed.speed}} {{winner.Results[0].FastestLap.AverageSpeed.units}}
            </p>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            <p>
              <b>Timed:</b> {{winner.Results[0].FastestLap.Time.time}}
            </p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-action-row>
      <button *ngIf="i > 0" mat-button color="warn" (click)="prevStep()">Previous</button>
      <button *ngIf="i < winners.length - 1" mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>


