.padding-10 {
  margin: 10px;
}

.highlight > .mat-expansion-panel-header{
  background-color: #ffd740;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

agm-map {
  width: 90%;
  height: 90%;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}


.mat-expansion-panel {
  background: rgb(2, 106, 138)
}

.mat-stroked-button {
  color: white;
  background: rgb(2, 106, 138);

}
