@import './global.scss';

.tp__card-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
  flex-direction: row;
}

	.card {
		display: block;
		flex: 1 1 22%;
		box-sizing: border-box;
		margin: $mp_px_nm $mp_px_sm;
		background-color: $card_color_bg;
		border-radius : 8px;
		box-shadow: 0 0 5px 3px rgba(0,0,0,0.055);

		.card--actionable{
			&:hover {
        cursor: pointer
      }

			&:active{
        box-shadow: inset 0px 3.25px 2px rgba(0,0,0,0.1), 0 0 2px 1px rgba(0,0,0,0.1)
      }

  }
}
		.card__header {
      display: flex;
      justify-content: space-between;
      position: relative;
			padding: $mp_px_nm $mp_px_md;
			border-bottom: 1px solid #dfdfdf;
			background-color: #616996;
			border-radius: 8px 8px 0 0;

			* {
				font-size: $card_size_title;
				font-weight: bold;
				color: $card_color_title;
        margin-bottom: 0;
      }
    };

			.card__title {
        font-size: $card_size_title * 1.25;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin: auto;
      };
		.card__body {
			position: relative;
			display: block;
			overflow: hidden;
			padding: $mp_px_sm 0;
      margin-top: $mp_px_nm;

      &.align--center {
        text-align: center;
      }
  }


		.card__footer {
			position: relative;
      padding: $mp_px_md;

      &.align--center {
        text-align: center;
      }
    }

    /*

			* {
				margin: 0 auto;
				color: $card_color_subtitle;
				font-size: $card_size_subtitle;
        font-weight: bold;
      }
      */

		.card__action {
			border-radius: 8px;
			border: 1px solid rgba(255,2555,255,0.4);
			padding: $mp_px_xs $mp_px_nm;
			vertical-align: middle;
			margin-top: -2px;
			transition: all .2s ease-in-out;
      font-size: $card_size_title - 4px;
      text-decoration: none;


			.pos--right {
        float: right;
      }

			&:hover {
        background-color: rgba(255,2555,255,0.2);
      }
    }

@media screen and (min-width: 960px) and (max-width: 1600px) {
	.tp__card-wrapper {
		.card {
			.card__header {
        padding: $mp_px_nm;
      }

				.card__action {
          padding: $mp_px_xs $mp_px_sm
        }
}}}


@media screen and (max-width: 640px) {
	.tp__card-wrapper{
		.card {
      flex: 1 1 97%;
    }
  }
}
