$size_base_font: 14px;
$size_base_table-th: 15px;
$size_base_subtitle: 17px;
$size_base_title : 23px;
$size_base_headline : 48px;
$size_base_subheadline : 22px;

$color_base_body : #f2f2f2;
$color_base_border-table : #ccc;
$color_base_table-odd : #eaeaea;
$color_base_title : #474747;
$color_base_table-even : transparent;
$color_base_active : #404d99;
$color_base_link-normal : #4e79bb;
$color_base_link-hover : #3152a7;
$color_base_white : #fff;
$color_base_header : #0d1231;
$color_base_footer : #0d1231;

// margin padding size base
$mp_px_xs : 5px;
$mp_px_sm : 10px;
$mp_px_nm : 20px;
$mp_px_md : 30px;
$mp_px_lg : 50px;
$mp_px_xl : 80px;

$card_size_title : 16px;
$card_size_subtitle : 15px;
$card_color_title : #fff;
$card_color_subtitle : #585858;
$card_color_bg : #fff;
$card_color_header : #4e79bb;
