@import './global.scss';

.tp__header {
	position: fixed;
	height: 65px;
	overflow: hidden;
	width: 100%;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: $color_base_header;
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.2);
}

	.header__left {
		position: relative;
		float: left;
		display: block;
    vertical-align: middle;
  }

		h1 {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      color: #fff;
      margin-top: 20px;
      text-align: left;
      padding-left: 10px;

    }

	.navigation {
		position: relative;
		float: right;
		display: block;
		vertical-align: middle;
    margin-top: $mp_px_nm;


		a {
			&:link {
				font-size: $size_base_subtitle;
				color: $color_base_white;
        margin-left: $mp_px_lg;
      }

			&:visited {
        color: $color_base_white
      }

			&:hover {
        color: $color_base_link-normal
      }
  }
}

@media screen and (min-width: 320px) and (max-width: 380px) {
	.tp__header {
		.header__left{
			width: 50%
    }
			h1 {
				font-size: 16px;
        font-weight: bold;
      }

		.navigation {
			width: 48%;
      text-align: right;
    }

			a {
				&:link {
          margin-left: $mp_px_sm;
        }
      }
}
}


@media screen and (min-width: 380) and (max-width: 960px) {
	.tp__header {
		.header__left {
      width: 50%;
    }

			h1 {
				font-size: 16px;
				font-weight: bold;
        margin-top: $mp_px_nm + 2px;
      }

		.navigation {
			width: 48%;
      text-align: right ;
    }

			a {
				&:link {
          margin-left: $mp_px_sm
        }
      }
  }
}
