@import './global.scss';

.tp__image {

	&.img--float-left {
    float: left;
  }

	&.img--fit-w {
    width: 100%
  }

	&.size--48w {
    width: 48px;
  }

	&.size--48h {
		height: 48px;
  }
	&.size--24w {
    width: 24px;
  }

	&.size--80h {
    height: 80px;
  }

	&.size--24h {
    height: 24px;
  }
	&.image--circle {
    border-radius: 100%;

    }
  }
