/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import './styles/global.scss';
@import './styles/container.scss';
@import './styles/card.scss';
@import './styles/img.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.block {
	display: flex;
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: $mp_px_md ($mp_px_md + 5px) $mp_px_lg;
  overflow: hidden;
}

.block-title {
  font-weight: bold;
  font-size: $size-base-title;
  text-transform: uppercase;
  margin-bottom: $mp_px_md;
  color: $color-base-title;
}


.mat-list .mat-list-item {
  height: 100% !important;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-list {
  width: 100%;
}

p {
  width: 100%;
}



@mixin rectangle-size($size: 48px) {
  width: $size;
  height: $size;
}

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  @include rectangle-size($size);
}


.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-14 {
  @include md-icon-size(14px);
}

.material-icons.md-18 {
  @include md-icon-size(18px);
}

.material-icons.md-24 {
  @include md-icon-size(24px);
}

.material-icons.md-36 {
  @include md-icon-size(36px);
}

.material-icons.md-48 {
  @include md-icon-size(48px);
}


.svg-18 {
  @include rectangle-size(18px);
}

.svg-48 {
  @include rectangle-size(48px);
}

.svg-64 {
  @include rectangle-size(64px);
}
