
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 80vh;

  background-image: url('../../../assets/img/formula-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;

  h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.3em;
    text-shadow: 0 0px 7px rgba(15, 26, 2, 0.6);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60vh;

  background-color: red;
  margin: 20px 10px;
}


.mat-progress-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}
