<section class="container-img">
  <h1 class="block-title">formula 1 - drive to survive</h1>
</section>

<section class="block bg--white" *ngIf="isLoaded">
		<div class="wrapper__inner">
			<h2 class="block-title">Formula 1 World Champion Highlight (2005-2015)</h2>

			<div class="tp__card-wrapper">
				<div class="card card--actionable" *ngFor="let season of Seasons;">
					<div class="card__header align--center">
          <a class="card__title" (click)="goToDetails(season.season)">{{season.season}}</a>

						<a class="card__action pos--right" (click)="goToDetails(season.season)">Detail</a>
					</div>

					<div class="card__body align--center">
						<img src="../../../assets//img//driver.png" class="tp__image size--80h image--circle" />
					</div>

					<div class="card__footer align--center">
          <a class="card__subtitle" [routerLink]="'/seasons/'">{{season.DriverStandings[0]?.Driver?.givenName}}</a>
					</div>
        </div>
			</div>
		</div>
  </section>



<mat-progress-spinner *ngIf="!isLoaded"
  class="spinner"
  color="accent"
  mode="indeterminate">
</mat-progress-spinner>
